{% extends "BASE.html" %}

{% block content %}
<style>
    .contact h1{
        margin: 0;
    }
    .contact .column{
        margin: 0;
        height: 70vh;
    }
    .contact h1{
        margin: 0;
    }
    .contact h3{
        font-weight: bold;
        letter-spacing: 4px;
    }
    .contact a{
        font-size: larger;
    }
</style>
<div class="contact row x-center">
    <div class="column x-center y-center">
        <h1>Email Me: </h1>
        <h3>kamilkorwiel.work@gmail.com</h3>
        <div>
            <a href="">LinkIn</a>
            <a href="">GitHub</a>
        </div>
    </div>
</div>
{% endblock %}