{% extends "BASE.html" %}

{% block content %}
  {% include "elements/intro.html "%}
  {% import 'elements/row.html' as macro with context %}
  <style>
    .about p{
      text-align: justify;
    }
  </style>

  <div id="content", class="short-long" style="display: block">
    <hr>
    <div id="about" class="about">
      {{ about | safe }}
    </div>
    <hr>
    <h1>Skills & Insights</h1>
    {% for know in knows %}
        <h3>{{know.name}}</h3>
        {{ macro.row(know.path_img,know.text,loop.index) }}
    {% endfor %}
    <hr>
    <h1 id="projects">Projects</h1>
    {{ projects | safe }}
  </div>
</div>

{% include "elements/row.html "%}
{% endblock %}

