<article class="product-card">
    <figure>
        <img src="{{ url_for('static', path='picture/Work_in_progres.png') }}">
    </figure>
    <header class="card-info">
        <h4 class="album-name">Lorem ipsum dolor sit</h4>
        <p>Amet consectetur.</p>
    </header>
</article>
<article class="product-card">
    <figure>
        <img src="{{ url_for('static', path='picture/Work_in_progres.png') }}">
    </figure>
    <header class="card-info">
        <h4 class="album-name">Lorem ipsum dolor sit</h4>
        <p>Amet consectetur.</p>
    </header>
</article>
<article class="product-card">
    <figure>
        <img src="{{ url_for('static', path='picture/Work_in_progres.png') }}">
    </figure>
    <header class="card-info">
        <h4 class="album-name">Lorem ipsum dolor sit</h4>
        <p>Amet consectetur.</p>
    </header>
</article>
<article class="product-card">
    <figure>
        <img src="{{ url_for('static', path='picture/Work_in_progres.png') }}">
    </figure>
    <header class="card-info">
        <h4 class="album-name">Lorem ipsum dolor sit</h4>
        <p>Amet consectetur.</p>
    </header>
</article>
<article class="product-card">
    <figure>
        <img src="{{ url_for('static', path='picture/Work_in_progres.png') }}">
    </figure>
    <header class="card-info">
        <h4 class="album-name">Lorem ipsum dolor sit</h4>
        <p>Amet consectetur.</p>
    </header>
</article>