<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- CSS -->
  <link href="{{ url_for('static', path='style/simple.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', path='style/display.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', path='style/card.css') }}" rel="stylesheet">

  <!-- FONT -->
  <!-- <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> -->
  <link href="https://fonts.googleapis.com/css2?family=Doto:wght@100..900&display=swap" rel="stylesheet">
    
  <title>Kamil Korwiel</title>
</head>
<body>
    {% include "elements/nav-bar.html "%}
    {% block content %}{% endblock %}
    <footer>
      <a href="/#about">About</a>
      <a href="/#projects">Projects</a>
      <a href="/blogs">Blog</a>
      <a href="/contact">Contact</a>
    </footer>
</body>
</html>