{% extends "BASE.html" %}

{% block content %}
<article class="product-card">
  <figure>
    <img src="https://freight.cargo.site/i/H2197862148972840289205571359733/Moonshots_Cover-1.jpg" />
  </figure>
  <div class="card-text-section">
    <header class="card-info">
        <h4 class="album-name">
          MOONSHOTS
        </h4>
        <p>The South Hill Experiment</p>
    </header>
  </div>
</article>

<article class="product-card">
  <figure>
    <img src="https://freight.cargo.site/i/I2197867566910701946216847840245/South-Hill---Friends.jpg" />
  </figure>
  <div class="card-text-section">
    <header class="card-info">
        <h4 class="album-name">
          South Hill & Friends
        </h4>
        <p>The South Hill Experiment</p>
    </header>
  </div>
</article>

<article class="product-card">
  <figure>
    <img src="https://freight.cargo.site/i/L2197864833047889990240169694197/EARTHBREAKS-Album-art-2.png" />
  </figure>
  <div class="card-text-section">
    <header class="card-info">
        <h4 class="album-name">
          EARTHBREAKS
        </h4>
        <p>The South Hill Experiment</p>
    </header>
  </div>
</article>
{% endblock %}