<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="{{ url_for('static', path='style/hello_word.css') }}" rel="stylesheet">
  <title>Hello World</title>
</head>
<body>
  

<div class="container">
  <h2 class="title">
    <span class="title-word title-word-1">Hello</span>
    <span class="title-word title-word-2">my</span>
    <span class="title-word title-word-3">beautiful</span>
    <span class="title-word title-word-4">word</span>
  </h2>
</div>


</svg>
</body>
</html>